<ol class="breadcrumb">
	<li class="breadcrumb-item">
		<a href (click)="router.navigate([''], {queryParamsHandling: 'merge'}); $event.preventDefault();">Home</a>
	</li>
	<li class="breadcrumb-item active">
		{{committee.name}}
	</li>
</ol>

<h2 *ngIf="!committee">
	Welcome to the EZ Amendment Portal
	<br>
	<small class="text-sm">Please search for a Committee ID below.</small>
</h2>
<h2 *ngIf="committee" class="mb-4">
	{{committee.name}}
	<br>
	<small class="text-sm">{{committee.committee_type_full}} - {{committee.designation_full}} | ID: {{committee.committee_id}}</small>
</h2>
<div class="row">
	<div class="col-3">
		<div class="filter">
			<button id="committee-info-btn" class="filter-header" (click)="doShow = 'committee-info'">
				Committee Info
			</button>
			<button id="filings-btn" class="filter-header" (click)="doShow = 'filings'">
				Filings
			</button>

			<div class="filter-content" *ngIf="doShow == 'filings'">
				<h5>Filters</h5>
				<hr>

				<div class="form-group">
					<label>Year</label>
					<div ngbDropdown class="filter-dropdown">
						<button id="filing-year-dd" class="btn btn-block btn-light btn-sm" ngbDropdownToggle>{{filters.filingYear ? filters.filingYear : 'Select Year'}}<i></i></button>
						<div ngbDropdownMenu aria-labelledby="filing-year-dd">
							<button id="filing-year-ddi-{{i}}" *ngFor="let year of years; let i = index" class="dropdown-item" (click)="filters.filingYear = year; getFilingData()">{{year}}</button>
						</div>
					</div>
				</div>

				<label>Form Type</label>
				<div ngbDropdown class="filter-dropdown">
					<button id="form-type-dd" class="btn btn-block btn-light btn-sm" ngbDropdownToggle>{{filters.formType ? filters.formType : 'Select Form Type'}}<i></i></button>
					<div ngbDropdownMenu aria-labelledby="form-type-dd">
						<button id="form-type-ddi-clear" class="dropdown-item" (click)="filters.formType = ''">Clear <i class="fa fa-times float-right"></i></button>
						<button id="form-type-ddi{{i}}" *ngFor="let type of formTypes; let i = index" class="dropdown-item" (click)="filters.formType = type; updateUrl()">{{type}}</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col">
		<app-committee-info *ngIf="doShow == 'committee-info' && !isLoading" [committee]="committee">Loading Committee Info...</app-committee-info>
		<app-filings *ngIf="doShow == 'filings' && !isLoading" [filingData]="getData()" [filters]="filters">Loading Filings...</app-filings>
		<div *ngIf="isLoading" class="text-center"><i class="fa fa-spinner fa-4x fa-pulse"></i></div>
	</div>
</div>