<div class="report-filters">
	<button class="report-filters-toggle">Filing Filters</button>
	<div class="report-filters-content">
		<form>
		    <div ngbDropdown class="filter-dropdown">
		    	<button class="btn btn-light btn-sm" id="filing-year" ngbDropdownToggle>Select Years <i></i></button>
		      	<div ngbDropdownMenu aria-labelledby="filing-year">
		        	<button class="dropdown-item">2015-2016</button>
		        	<button class="dropdown-item">2014-2015</button>
		        	<button class="dropdown-item">2013-2014</button>
		      	</div>
		    </div>
		    <hr>
		    <div class="form-group">
		    	<label>Political Party</label>
		    	<select multiple class="form-control">
				 	<option>1</option>
				 	<option>2</option>
				 	<option>3</option>
				 	<option>4</option>
				 	<option>5</option>
				</select>
		    </div>
		    <hr>
		    <div class="form-group">
		    	<label>Office</label>
		    	<div class="checkbox">
					<label>
				    	<input type="checkbox"> President
					</label>
				</div>
				<div class="checkbox">
					<label>
				    	<input type="checkbox"> Senate
					</label>
				</div>
				<div class="checkbox">
					<label>
				    	<input type="checkbox"> House
					</label>
				</div>
		    </div>
		    <hr>
		    <div class="form-group">
		    	<label>Filing Type</label>
		    	<select multiple class="form-control">
				 	<option>1</option>
				 	<option>2</option>
				 	<option>3</option>
				 	<option>4</option>
				 	<option>5</option>
				</select>
		    </div>
		</form>
	</div>
</div>