<div class="row" *ngIf="filing">
		<div class="col">
			<div class="row">
				<div class="col-4">
					<strong>FEC File Number:</strong>
				</div>
				<div class="col-8">
					{{filing.fec_file_id ? filing.fec_file_id : 'None'}}
				</div>
			</div>
			<div class="row">
				<div class="col-4">
					<strong>Report Coverage:</strong>
				</div>
				<div class="col-8">
					{{filing.coverage_start_date | date}} - {{filing.coverage_end_date | date}}
				</div>
			</div>
			<div class="row">
				<div class="col-4">
					<strong>Receipt Date:</strong>
				</div>
				<div class="col-8">
					{{filing.receipt_date | date}}
				</div>
			</div>
			<div class="row">
				<div class="col-4">
					<strong>Filing Method:</strong>
				</div>
				<div class="col-8">
					{{filing.means_filed ? filing.means_filed : 'None'}}
				</div>
			</div>
		</div>
	</div>