// Copy variables from _variables.scss into this file to override Bootstrap defaults

// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

@import '~variables.scss';

@import '~bootstrap/scss/bootstrap';
@import '~font-awesome/scss/font-awesome';

@media (min-width: 1500px){
	.container {
		max-width: 1440px;
	}
}
.content-header {
	margin-bottom: 15px;
}
.text-sm {
	font-size: 50%;
}

.tab-content {
	padding: 5px;
	border: 1px solid $nav-tabs-link-active-border-color;
	border-top-width: 0;
}