// Copy variables from _variables.scss into this file to override Bootstrap defaults

// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

@import '~variables.scss';

$blue: $fec_blue_light;


@import '~bootstrap/scss/bootstrap';
@import '../node_modules/font-awesome/scss/font-awesome';

@media (min-width: 1500px){
	.container {
		max-width: 1440px;
	}
}
.content-header {
	margin-bottom: 15px;
}
.text-sm {
	font-size: 50%;
}