<ol class="breadcrumb">
	<li class="breadcrumb-item">
		<!--
		<a [routerLink]="['/committee/',filing.committee_id]">{{filing.committee_name}}</a>
		-->
		<a href (click)="router.navigate(['/committee/'+filing.committee_id]); $event.preventDefault();">{{filing.committee_name}}</a>
	</li>
	<li class="breadcrumb-item active">{{filing.fec_file_id}}</li>
</ol>

<h2>
	{{filing.document_description}}
</h2>


<!--
the dates are coming in as iso-8601 except the missing timezone
coverage_start_date
coverage_end_date
-->

<form>
	<div class="row">
		<div class="col-sm-4 col-md-3 col-xl-2 form-group">
			<label>Coverage Start</label>
			<div class="input-group">
				<input class="form-control" placeholder="mm/dd/yyyy" name="coverageStart" ngbDatepicker #coverageStart="ngbDatepicker">
				<button class="input-group-addon" (click)="coverageStart.toggle()" type="button">
					<i class="fa fa-calendar"></i>
				</button>
			</div>
		</div>
		<div class="col-sm-4 col-md-3 col-xl-2 form-group">
			<label>Coverage Start</label>
			<div class="input-group">
				<input class="form-control" placeholder="mm/dd/yyyy" name="coverageEnd" ngbDatepicker #coverageEnd="ngbDatepicker">
				<button class="input-group-addon" (click)="coverageEnd.toggle()" type="button">
					<i class="fa fa-calendar"></i>
				</button>
			</div>
		</div>
		<div class="col-sm-4 col-md-3 col-xl-2 form-group">
			<label>Last Update</label>
			<p class="form-control-static">
				{{filing.update_date | date}}
			</p>
		</div>
		<div class="col-sm-4 col-md-3 col-xl-2 form-group">
			<label>Receipt Date</label>
			<p class="form-control-static">
				{{filing.receipt_date | date}}
			</p>
		</div>
		<div class="col-sm-8 col-md-6 col-xl-4 form-group">
			<button type="button" class="btn btn-primary mr-3">
				<i class="fa fa-paper-plane"></i> Submit
			</button>
			<button type="button" class="btn btn-default mr-3">
				<i class="fa fa-save"></i> Save
			</button>
			<button type="button" class="btn btn-danger">
				<i class="fa fa-times"></i> Delete
			</button>
		</div>
	</div>
</form>

<h3 class="mt-5">Transactions</h3>

<ngb-tabset [justify]="'fill'">
	<ngb-tab title="Receipts">
		<ng-template ngbTabContent>
			<div class="container-fluid mt-5">
				<div class="row h5 px-1">
					<div class="col">Line</div>
					<div class="col">Date</div>
					<div class="col">Name</div>
					<div class="col">Amount</div>
				</div>
			</div>

			<ngb-accordion #acc="ngbAccordion" [closeOthers]="true">
				<ngb-panel *ngFor="let i of ['new'].concat([0,1,2,3,4,5,6,7,8,9]); let first = first">
					<ng-template ngbPanelTitle>
						<div *ngIf="first">
							New Receipt
						</div>
						<div class="row" *ngIf="!first">
							<div class="col">##</div>
							<div class="col">mm/dd/yyyy</div>
							<div class="col">xxxxxx</div>
							<div class="col">$0.00</div>
						</div>
					</ng-template>
					<ng-template ngbPanelContent>
						<form>
							<div class="container-fluid">
								<div class="row">
									<div class="col-sm-3 col-md-2 col-lg-1 form-group">
										<label>Line</label>
										<p class="form-control-static">
											##
										</p>
									</div>
									<div class="col-sm-4 col-md-3 col-xl-2 form-group">
										<label>Date</label>
										<input class="form-control" placeholder="mm/dd/yyyy">
									</div>
									<div class="col-sm-4 col-md-3 col-xl-2 form-group">
										<label>Name</label>
										<input class="form-control" placeholder="xxxxxx">
									</div>
									<div class="col-sm-4 col-md-3 col-xl-2 form-group">
										<label>Amount</label>
										<input class="form-control" placeholder="$0.00">
									</div>
									<div class="col-sm-4 col-md-3 col-xl-2 form-group">
										<label>Memo Ind?</label>
										<input class="form-control" placeholder="checkbox?">
									</div>
									<div class="col-sm-4 col-md-3 col-xl-2 form-group">
										<label>Employee Name</label>
										<input class="form-control" placeholder="xxxxxx xxxxxx">
									</div>
									<div class="col-sm-4 col-md-3 col-xl-2 form-group">
										<label>Occupation</label>
										<input class="form-control" placeholder="xxxxxx">
									</div>
									<div class="col-sm-8 col-md-6 col-xl-4 form-group">
										<label>Description</label>
										<textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
									</div>
									<div class="col-sm-4 col-md-3 col-xl-2 form-group">
										<label class="invisible"></label>
										<button type="button" class="btn btn-primary form-control">
											<i class="fa fa-save"></i> Save
										</button>
									</div>
									<div class="col-sm-4 col-md-3 col-xl-2 form-group">
										<label class="invisible"></label>
										<button type="button" class="btn btn-danger form-control">
											<i class="fa fa-times"></i> Delete
										</button>
									</div>
								</div>
							</div>
						</form>
					</ng-template>
				</ngb-panel>
			</ngb-accordion>

		</ng-template>
	</ngb-tab>

	<ngb-tab title="Disbursements" [disabled]="true">
		<ng-template ngbTabContent></ng-template>
	</ngb-tab>

	<ngb-tab title="Loans" [disabled]="true">
		<ng-template ngbTabContent></ng-template>
	</ngb-tab>

	<ngb-tab title="Debts" [disabled]="true">
		<ng-template ngbTabContent></ng-template>
	</ngb-tab>
</ngb-tabset>