<div class="report-content">
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th>Filing Description (ID)</th>
	      <th>Coverage Period</th>
	      <th>Last Update</th>
	      <th>Receipt Date</th>
	      <th>Action</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr *ngFor="let rec of filingData">
	      <td><button class="btn btn-link" (click)="setFiling(rec);open(content)">{{rec.document_description}} ({{rec.fec_file_id}})</button></td>
	      <td>{{rec.coverage_start_date | date}} - {{rec.coverage_end_date | date}}</td>
	      <td>{{rec.update_date | date}}</td>
	      <td>{{rec.receipt_date | date}}</td>
	      <td>[action]</td>
	    </tr>
	    <tr *ngIf="!filingData || filingData.length === 0">
	    	<td colspan="5">
	    		No Data
	    	</td>
	    </tr>
	  </tbody>
	</table>
</div>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Filing Info</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-filing-info [filing]="filing"></app-filing-info>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>