<h4>Filings</h4>
<div class="report-content">
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th>Filing Description (ID)</th>
	      <th class="text-center">Form Type</th>
          <th class="text-center">Coverage Period</th>
          <th class="text-center">Last Update</th>
          <th class="text-center">Receipt Date</th>
          <th class="text-center">Action</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr *ngFor="let filing of filingData">
	      <td>{{filing.document_description}} <span *ngIf="filing.fec_file_id">({{filing.fec_file_id}})</span></td>
	      <td class="text-center">{{filing.form_type}}</td>
          <td class="text-center">{{filing.coverage_start_date | date}} - {{filing.coverage_end_date | date}}</td>
          <td class="text-center">{{filing.update_date | date}}</td>
          <td class="text-center">{{filing.receipt_date | date}}</td>
          <td class="text-center">
          	<button id="amend-filing-btn" type="button" *ngIf="!isButtonHidden(filing)" class="btn btn-primary" (click)="viewFiling(filing.file_number)">View/Amend</button>
			<!-- <div class="btn-group" ngbDropdown placement="bottom-right" *ngIf="!isButtonHidden(filing)">
			  <button type="button" class="btn btn-primary" (click)="viewFiling(filing.file_number)">View/Amend</button>
			  <button [disabled]="!filing.file_number" class="btn btn-primary dropdown-toggle-split" ngbDropdownToggle></button>
			  <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
				<button class="dropdown-item">Submit</button>
			  </div>
			</div> -->
		  </td>
	    </tr>
	    <tr *ngIf="!filingData || filingData.length === 0">
	    	<td class="text-center" colspan="6">
	    		<h4>No Reports filed for {{filters.filingYear}}</h4>
	    	</td>
	    </tr>
	  </tbody>
	</table>
	<hr *ngIf="filingData.length % 2 == 0">
	<div class="font-italic text-muted text-center">
		{{filingData.length}} record{{filingData.length == 1 ? '' : 's'}} found
	</div>
</div>