<div class="report-content">
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th>Filing Description (ID)</th>
	      <th class="text-center">Form Type</th>
          <th class="text-center">Coverage Period</th>
          <th class="text-center">Last Update</th>
          <th class="text-center">Receipt Date</th>
          <th class="text-center">Action</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr *ngFor="let filing of filingData">
	      <td>{{filing.document_description}} ({{filing.fec_file_id}})</td>
	      <td class="text-center">{{filing.form_type}}</td>
          <td class="text-center">{{filing.coverage_start_date | date}} - {{filing.coverage_end_date | date}}</td>
          <td class="text-center">{{filing.update_date | date}}</td>
          <td class="text-center">{{filing.receipt_date | date}}</td>
          <td class="text-center">
			<div class="btn-group" ngbDropdown placement="bottom-right">
			  <button [disabled]="!filing.file_number" type="button" class="btn btn-primary" (click)="viewFiling(filing.file_number)">View/Amend</button>
			  <button [disabled]="!filing.file_number" class="btn btn-primary dropdown-toggle-split" ngbDropdownToggle></button>
			  <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
				<button class="dropdown-item">Submit</button>
			  </div>
			</div>
		  </td>
	    </tr>
	    <tr *ngIf="!filingData || filingData.length === 0">
	    	<td colspan="5">
	    		No Data
	    	</td>
	    </tr>
	  </tbody>
	</table>
</div>