<div class="report-content">
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th>Filing Description (ID)</th>
	      <th>Coverage Period</th>
	      <th>Last Update</th>
	      <th>Receipt Date</th>
	      <th>Action</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr *ngFor="let filing of filingData">
	      <td>{{filing.document_description}} ({{filing.fec_file_id}})</td>
	      <td>{{filing.coverage_start_date | date}} - {{filing.coverage_end_date | date}}</td>
	      <td>{{filing.update_date | date}}</td>
	      <td>{{filing.receipt_date | date}}</td>
	      <td>
			<div class="btn-group" ngbDropdown placement="bottom-right">
			  <button type="button" class="btn btn-primary" (click)="viewFiling(filing.committee_id, filing.fec_file_id)">View/Ammend</button>
			  <button class="btn btn-primary dropdown-toggle-split" ngbDropdownToggle></button>
			  <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
				<button class="dropdown-item">Submit</button>
			  </div>
			</div>
		  </td>
	    </tr>
	    <tr *ngIf="!filingData || filingData.length === 0">
	    	<td colspan="5">
	    		No Data
	    	</td>
	    </tr>
	  </tbody>
	</table>
</div>