<div class="content-header">
	<div class="row">
		<div class="col">
			<h2>Welcome, {{committee ? committee.name : 'Please select a committee from the list above'}} 
				<br>
				<small class="text-muted text-sm">Add new filings or view/amend existing filings</small>
			</h2>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<!-- <small class="text-muted">Add new filings or view/amend existing filings</small> -->
			
		</div>
		<div class="col-3 text-right">
			<a href="">New Filing</a>
		</div>
	</div>
</div>